# Series

In [2]:
import pandas as pd

In [3]:
data = [1,2,3,4,5]
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = [f'Row {index}' for index in range(len(data))]
index

['Row 0', 'Row 1', 'Row 2', 'Row 3', 'Row 4']

In [5]:
pd.Series(data=data, index=index)

Row 0    1
Row 1    2
Row 2    3
Row 3    4
Row 4    5
dtype: int64

## Creating from a dict

In [7]:
data = {f'Row {index}':index + 1 for index in range(5)}
data

{'Row 0': 1, 'Row 1': 2, 'Row 2': 3, 'Row 3': 4, 'Row 4': 5}

In [10]:
s = pd.Series(data)
s

Row 0    1
Row 1    2
Row 2    3
Row 3    4
Row 4    5
dtype: int64

In [11]:
s1 = s + 2
s1

Row 0    3
Row 1    4
Row 2    5
Row 3    6
Row 4    7
dtype: int64

In [12]:
s2 = s + s1
s2

Row 0     4
Row 1     6
Row 2     8
Row 3    10
Row 4    12
dtype: int64

# DataFrames

In [13]:
data = [[1,2,3], [4,5,6], [7,8,9]]
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
index = [f'Row {index}' for index in range(len(data))]
colmuns = [f'Column {index}' for index in range(len(data))]
df1 = pd.DataFrame(data, index=index, columns=colmuns)
df1

       Column 0  Column 1  Column 2
Row 0         1         2         3
Row 1         4         5         6
Row 2         7         8         9

It also works with dict of dicts or list of tuples

In [17]:
df2 = df3 = df1
df2[df1 > 0] = 'A'
df2

      Column 0 Column 1 Column 2
Row 0        A        A        A
Row 1        A        A        A
Row 2        A        A        A

In [21]:
df2[df2 > 0] = 'B'
df2

TypeError: '>' not supported between instances of 'str' and 'int'