# Analysis Report IV

## Selections and Frequency

In [33]:
import pandas as pd

In [34]:
data = pd.read_csv('data/residential_realties.csv', sep=';')
data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

### Select only realties classified as 'Apartamento'

In [35]:
selection = data['Tipo'] == 'Apartamento'
selection

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [36]:
n1 = data[selection].shape[0]
n1

19532

### Select realties classified as as 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [37]:
selection = data['Tipo'].isin(['Casa', 'Casa de Condomínio', 'Casa de Vila'])
selection

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [38]:
n2 = data[selection].shape[0]
n2

2212

### Select realties with built area between 60 and 100 m2, including the limits

In [39]:
selection = (data['Area'] >= 60) & (data['Area'] <= 100)
n3 = data[selection].shape[0]
n3

8719

### Select realties that have at least 4 rooms and rent below R$ 2000.00

In [40]:
selection = (data['Quartos'] >= 4) & (data['Valor'] < 2000)
n4 = data[selection].shape[0]
n4

41

In [42]:
print(f'Amount of realties type "Apartamento": {n1}')
print(f'Amount of realties type "Casa", "Casa de Condomínio" or "Casa de Vila": {n2}')
print(f'Amount of realties with area between 60 and 100 m2: {n3}')
print(f'Amount of realties that have at least 5 rooms and rent value below R$ 2.000,00: {n4}')

Amount of realties type "Apartamento": 19532
Amount of realties type "Casa", "Casa de Condomínio" or "Casa de Vila": 2212
Amount of realties with area between 60 and 100 m2: 8719
Amount of realties that have at least 5 rooms and rent value below R$ 2.000,00: 41